In [22]:
import pandas as pd
df_movie =  pd.read_csv(r"C:\Users\Giova\OneDrive\Escritorio\HENRY\Henry Practice\1 proyecto Individual\src\df_movie.csv")
df_crew = pd.read_csv(r"C:\Users\Giova\OneDrive\Escritorio\HENRY\Henry Practice\1 proyecto Individual\src\df_crew.csv")
df_cast =pd.read_csv(r"C:\Users\Giova\OneDrive\Escritorio\HENRY\Henry Practice\1 proyecto Individual\src\df_cast.csv")

In [24]:
df_cast

            id           castname
0          862          Tom Hanks
1          862          Tim Allen
2          862        Don Rickles
3          862         Jim Varney
4          862      Wallace Shawn
...        ...                ...
562039  227506   Iwan Mosschuchin
562040  227506  Nathalie Lissenko
562041  227506       Pavel Pavlov
562042  227506  Aleksandr Chabrov
562043  227506        Vera Orlova

[562044 rows x 2 columns]

In [25]:
df_combined = pd.merge(df_movie, df_cast, on='id', how='inner')

In [29]:
df_combined

np.int64(1340)