In [1]:
import pandas as pd
df_movie =  pd.read_csv(r"C:\Users\Giova\OneDrive\Escritorio\HENRY\Henry Practice\1 proyecto Individual\src\df_movie.csv")
df_crew = pd.read_csv(r"C:\Users\Giova\OneDrive\Escritorio\HENRY\Henry Practice\1 proyecto Individual\src\df_crew.csv")
df_cast =pd.read_csv(r"C:\Users\Giova\OneDrive\Escritorio\HENRY\Henry Practice\1 proyecto Individual\src\df_cast.csv")

In [4]:
csv_file_path = ("./data/df_movie.csv")
csv_file_path3 = ("./data/df_crew.csv")
csv_file_path2 = ("./data/df_cast.csv")
# Carga el archivo CSV en un DataFrame de Pandas
try:
    df_movie = pd.read_csv("./data/df_movie.csv")
    df_cast = pd.read_csv("./data/df_cast.csv")
    df_crew = pd.read_csv("./data/df_crew.csv")

            id                  crewjob             crewname
0          862                 Director        John Lasseter
1          862               Screenplay          Joss Whedon
2          862               Screenplay       Andrew Stanton
3          862               Screenplay           Joel Cohen
4          862               Screenplay         Alec Sokolow
...        ...                      ...                  ...
463831   67758  Original Music Composer       Richard McHugh
463832   67758  Director of Photography       João Fernandes
463833  227506                 Director     Yakov Protazanov
463834  227506                 Producer  Joseph N. Ermolieff
463835  461257                 Director        Daisy Asquith

[463836 rows x 3 columns]

In [2]:
df_combined = pd.merge(df_movie, df_cast, on='id', how='left')

In [3]:
df_combined

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,production_companiesid,production_countriesiso_3166_1,production_countriesname,release_year,spoken_languages_names,spoken_languages_iso,genres_ids,genres_names,return,castname
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,3.0,US,United States of America,1995,English,en,"16, 35, 10751","Family, Animation, Comedy",12.451801,Tom Hanks
1,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,3.0,US,United States of America,1995,English,en,"16, 35, 10751","Family, Animation, Comedy",12.451801,Tim Allen
2,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,3.0,US,United States of America,1995,English,en,"16, 35, 10751","Family, Animation, Comedy",12.451801,Don Rickles
3,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,3.0,US,United States of America,1995,English,en,"16, 35, 10751","Family, Animation, Comedy",12.451801,Jim Varney
4,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,3.0,US,United States of America,1995,English,en,"16, 35, 10751","Family, Animation, Comedy",12.451801,Wallace Shawn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564253,0.0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,88753.0,RU,Russia,1917,NaN,NaN,NaN,NaN,0.000000,Nathalie Lissenko
564254,0.0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,88753.0,RU,Russia,1917,NaN,NaN,NaN,NaN,0.000000,Pavel Pavlov
564255,0.0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,88753.0,RU,Russia,1917,NaN,NaN,NaN,NaN,0.000000,Aleksandr Chabrov
564256,0.0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,88753.0,RU,Russia,1917,NaN,NaN,NaN,NaN,0.000000,Vera Orlova
564257,0.0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,NaN,...,NaN,GB,United Kingdom,2017,English,en,NaN,NaN,0.000000,NaN